.App {
  color: #77adad;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}

.kanban {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  width: 100%;
}
