body {
  font-family: 'Press Start 2p';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: 100px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

button {
  margin: 10px;
  background-color: rgba(0,0,0,0);
  color: red;
  border: 1px solid red;
}

button:disabled {
  color:black;
}
